@tailwind base;
@tailwind components;
@tailwind utilities;

.background-pattern {
	background-color: #686a6d;
	opacity: 0.9;
	background-image: radial-gradient(circle at center center, #ff4e00, #686a6d), repeating-radial-gradient(circle at center center, #ff4e00, #ff4e00, 6px, transparent 12px, transparent 6px);
	background-blend-mode: multiply;
}

.join-error {
	@apply border-2 border-error rounded-xl font-bold;
}
.join-label-primary {
	@apply bg-primary text-primary-content font-bold;
}
.join-label-secondary {
	@apply bg-secondary text-secondary-content font-bold;
}
.join-label-accent {
	@apply bg-accent text-accent-content font-bold;
}

.alert {
	@apply pt-0 pb-0 pl-1 pr-1 rounded-md;
}

.label {
	@apply py-1;
}

.divider {
	@apply my-0;
}
/* 
::-webkit-scrollbar {
	@apply w-[10px] h-[10px];
}

::-webkit-scrollbar-thumb {
	@apply bg-gray-700 rounded-md;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-gray-700 rounded-md;
}

::-webkit-scrollbar-thumb:active {
	@apply bg-gray-600 rounded-md;
} */
